.meter-container{
    background-color: #0d1117;
    text-align: center;
    color:azure;
    height:100vh;
}
#company-select{
    color:whitesmoke;
}

.meter-box{
    margin-top:7vh;
}

#meter-title{
    padding-top:5vh;
}